<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Formulario </title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<nav>
		<div id="title"><h1>Formulario de Registro</h1></div>
           <div id="icon1" class="redes"><a href="#"><img src="face.png"></a></div>
           <div id="icon2" class="redes"><a href="#"><img src="twit.png"></a></div>
           <div id="icon3" class="redes"><a href="#"><img src="goog.png"></a></div>
	</nav>

	<section>
		<center>
			<form>
			 <label id="lb1">Nombre</label>
			 <label id="lb2">Correo</label>
			  <label id="lb3">Ingrese Contraseña</label>
			 <br>
			 <input type="text" placeholder="Nombre" value="" required>

             <input type="email" placeholder="Correo" value="" required >

             <input type="password" placeholder="Contraseña" value="" required>
             <br>
             <br>
             <label id="lb4">Fecha de Nacimiento</label>
             <label id="lb5">Sexo</label>
             <label id="lb6">Confirme Contraseña</label>
             <br>
			 <input type="date" id="fecha" required>

                 <select id="Gender">
             	   <option value="M">Hombre</option>
             	    <option value="F">Mujer</option>
                 </select>

             <input type="password" id="con" placeholder=" Contraseña" value="" required>
             <br>
             <br>
             <label>Pais ISO3</label>
                  <select>
             	   <option value="Afganistan">AFG</option>
             	    <option value="Belgica">BEL</option>
             	    <option value="Canada">CAN</option>
             	    <option value="Dinamarca">DNK</option>
             	    <option value="Egipto">EGY</option>
             	    <option value="Francia">FRA</option>
             	    <option value="Guatemala">GTM</option>
             	    <option value="Mexico">MEX</option>
             	    <option value="Irlanda">IRL</option>
             	    <option value="Alemania">DEU</option>
             	    <option value="Japon">JPN</option>
             	    <option value="Rusia">RUS</option>
                 </select>
                <input type="submit" id="boton" value="Enviar">
		    </form>

	     </center>

	</section>
	<footer><h3>Derechos Reservados por &copy;Grd2.10x</h3></footer>
</body>
</html>